{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %}Log In{% endblock title %}

{% block content %}
<div class="formulario">
    <h2>Log In</h2>
    <form method="post" class="login" action="{% url 'account_login' %}">
        {% csrf_token %}
        <!-- Email input -->
        <div id="div_id_login" class="form-outline mb-4">
            {{ form.login|as_crispy_field }}
        </div>

        <!-- Password input -->
        <div id="div_id_password" class="form-outline mb-4">
            {{ form.password|as_crispy_field }}
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    {{ form.remember|as_crispy_field }}
                </div>
            </div>

            <div class="col">
                <!-- Simple link -->
                <a href="{% url 'account_reset_password' %}">Forgot password?</a>
            </div>
        </div>

        <!-- Submit button -->
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="mb-4 btn btn-primary btn-block">Sign in</button>
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Not a member? <a href="{% url 'account_signup' %}">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
            </button>
        </div>
    </form>
</div>
{% endblock content %}