body {
    height: 100%;
    padding-top: 4.5rem;
}

h1 {
    color: red;
}

img.bookcover {
    height: 300px;
    width: auto;
}

.borde {
    outline: none;
}

.formulario {
    width: 40%;
    margin: auto;
}